# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home2/kaadir/py_ASE_se"
PassengerBaseURI "/"
PassengerPython "/home2/kaadir/virtualenv/py_ASE_se/3.7/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
