asgiref==3.2.3
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
cssselect2==0.2.2
defusedxml==0.6.0
Django==2.2.10
django-jalali==3.1.0
django-weasyprint==0.5.5
django-widget-tweaks==1.4.5
html5lib==1.0.1
jdatetime==3.6.2
Pillow==6.2.1
psycopg2-binary==2.8.4
pycparser==2.19
Pyphen==0.9.5
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
whitenoise==5.0.1
XlsxWriter==1.2.6
