{% load static %}
{% load widget_tweaks %}



<form method="POST" class="post-form">
<button class="btn btn-info" type="submit" formaction="{% url 'reload' formtype='spo2' %}" style="position: fixed;left:40px;bottom:40px;"  formnovalidate>بارگزاری مجدد فرم</button>
    {% csrf_token %}

    <table class="table-bordered">
      
           

<link rel="stylesheet" href="{% static 'css/spo2-styles.css' %}">

        <!--////////////////////////////////////////////////////////////-->
        <div class="data container-fluid">
          {% if edit %}
          <div class="alert alert-warning">
               شما در حال ویرایش گزارش شماره {{ licence_num }} هستید
        </div>
          {% elif recal %}
          <div class="alert alert-warning">
               شما در حال ثبت گزارش ریکالیبراسیون گواهی شماره {{ licence_num }} هستید
        </div>
          {% elif edit_recal %}
          <div class="alert alert-warning">
               شما در حال ویرایش گزارش ریکالیبراسیون گواهی شماره {{ licence_num }} هستید
        </div>

          {% endif %}
          <h1 class="header-t" style="font-size: 20pt;font-weight: bold;font-family:light-iransans;">
            گواهينامه کنترل کيفي دستگاه پالس اکسی متری</h1>

<div class="row" style="margin-right: 40px;">
    <div class="col-md-6 col-sm-12" style="margin-top: 10px;">
      <span style="margin-right: 30px;"> نام دستگاه : </span>
      <span>

        
        {% render_field form.device style="display:inline;width:50%;"  class="search-a" searchable="Search here.." %}
  
        </span>
        <br>
<!-- / -->

<span style="margin-right: 17px;"> شماره درخواست  : </span>
<span class="ee">
  {% render_field form.request  class="search-a" style="display:inline;width:50%;"%}

 </span>
<br>
<span style="margin-right: 17px;"> رطوبت محیطی : </span>
<br>
<span class="ee">
  {% render_field form.humidity style="display:block;max-width:500px;width:50%;"%}

</span>

<br>
<!-- / -->
<label style="margin-right: 17px;" > دمای محیطی : </label>
<br>
<span class="ee"> 
  {% render_field form.temp  style="display:block;max-width:500px;width:50%;"%}

</span>


<!--


<input type="text" style="display: inline-block;text-align: right;" class="form-control" name="request-number" disabled> -->

</div>

<div class="col-md-6 col-sm-12" style="margin-top: 10px;">

  <h2 style="font-family: light-iransans">تجهیزات آزمون : </h2>

  <div class="container">
    <label>نام تجهیز :</label><br>
    <label>دستگاه شماره 1 :</label>
      <span class="ee">
        {{form.cal_dev1}}
      </span><br>
    <label>دستگاه شماره 2 :</label>
      <span class="ee">
        {{form.cal_dev2}}
      </span><br>
      <label>دستگاه شماره 3 :</label>
      <span class="ee">
        {{form.cal_dev3}}
      </span><br>
      <label>دستگاه شماره 4 :</label>
      <span class="ee">
        {{form.cal_dev4}}
      </span><br>  
  </div>
  <br><br>
  


    </div>

    </div>


<!--</form>-->

<br><br>


 <div style="font-weight: bold;direction: ltr;">

<div style="direction: rtl;">
                  1-عملکرد
                  <span class="time">SPO2</span>
                  و
  <span class="time">Pulse Rate</span>
</div>
<br>

        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 tb-4 time">
<tbody>
<tr>
<td rowspan="2">DESCRIPTION OF TEST</td>
<td colspan="2">SETTING</td>
<td colspan="2">READING</td>
<td rowspan="2" style="width: 5cm;">(PR<sub>setting</sub>-PR<sub>reading</sub>)<sup>2</sup></td>
</tr>
<tr>
<td>SPO2</td>
<td>PR</td>
<td>SPO2</td>
<td>PR</td>
</tr>
<tr>
<td rowspan="3">SPO2%</td>
<td>96%</td>
<td>75</td>
<td>{{ form.s1_e1_spo2}}</td>
<td>{{ form.s1_e1_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>86%</td>
<td>75</td>
<td>{{ form.s1_e2_spo2}}</td>
<td>{{ form.s1_e2_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>76%</td>
<td>75</td>
<td>{{ form.s1_e3_spo2}}</td>
<td>{{ form.s1_e3_pr}}</td>
<td>-</td>
</tr>
<tr>
<td rowspan="4">PULSE RATE</td>
<td>96%</td>
<td>35</td>
<td>{{ form.s1_e4_spo2}}</td>
<td>{{ form.s1_e4_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>96%</td>
<td>100</td>
<td>{{ form.s1_e5_spo2}}</td>
<td>{{ form.s1_e5_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>96%</td>
<td>200</td>
<td>{{ form.s1_e6_spo2}}</td>
<td>{{ form.s1_e6_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>96%</td>
<td>240</td>
<td>{{ form.s1_e7_spo2}}</td>
<td>{{ form.s1_e7_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>PATIENT CONDITIONS</td>
<td colspan="5">-</td>
</tr>
<tr>
<td>Normal</td>
<td>98%</td>
<td>55</td>
<td>{{ form.s1_e8_spo2}}</td>
<td>{{ form.s1_e8_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>Weak pulse</td>
<td>90%</td>
<td>95</td>
<td>{{ form.s1_e9_spo2}}</td>
<td>{{ form.s1_e9_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>Bradycardia</td>
<td>88%</td>
<td>45</td>
<td>{{ form.s1_e10_spo2}}</td>
<td>{{ form.s1_e10_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>Hypoxic</td>
<td>70%</td>
<td>95</td>
<td>{{ form.s1_e11_spo2}}</td>
<td>{{ form.s1_e11_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>Neonate</td>
<td>90%</td>
<td>180</td>
<td>{{ form.s1_e12_spo2}}</td>
<td>{{ form.s1_e12_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>Tachycardia</td>
<td>85%</td>
<td>130</td>
<td>{{ form.s1_e13_spo2}}</td>
<td>{{ form.s1_e13_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>Geriatric</td>
<td>92%</td>
<td>95</td>
<td>{{ form.s1_e14_spo2}}</td>
<td>{{ form.s1_e14_pr}}</td>
<td>-</td>
</tr>
<tr>
<td>
<div class="formol"></div>
</td>
<td colspan="5">-</td>
</tr>
</tbody></table>


<br>

      <span style="font-weight: bold;">
       2-حساسيت به آرتيفکت ها
      </span>

                <div>
                  1-2-حالت
                    <span class="time">Low Perfusion</span>
                </div>

        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 time">

<tbody>
<tr>
<td rowspan="3">WEAK PULSE</td>
<td colspan="2" rowspan="2">SETTING</td>
<td colspan="2" rowspan="2">Reading @ low perfusion</td>
<td colspan="2" rowspan="2">ERROR</td>
</tr>
<tr></tr>
<tr>
<td>SPO2</td>
<td>PR</td>
<td>SPO2</td>
<td>PR</td>
<td>SPO2</td>
<td>PR</td>
</tr>
<tr>
<td>Pulse Strength = 3</td>
<td>94%</td>
<td>45</td>
<td>{{ form.s2_e1_spo2}}</td>
<td>{{ form.s2_e1_pr}}</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Pulse Strength = 0.4</td>
<td>94%</td>
<td>45</td>
<td>{{ form.s2_e2_spo2}}</td>
<td>{{ form.s2_e2_pr}}</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Pulse Strength = 0.2</td>
<td>94%</td>
<td>45</td>
<td>{{ form.s2_e3_spo2}}</td>
<td>{{ form.s2_e3_pr}}</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Pulse Strength = 0.1</td>
<td>94%</td>
<td>45</td>
<td>{{ form.s2_e4_spo2}}</td>
<td>{{ form.s2_e4_pr}}</td>
<td>-</td>
<td>-</td>
</tr>
</tbody>
        </table>



<br>
<span style="font-weight: bold;">
3- بررسی لوازم جانبی

</span>


        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 time">
<tbody>
<tr>
<td rowspan="2"></td>
<td rowspan="2">Accessory</td>
<td rowspan="2">Model</td>
<td colspan="2">Result</td>
<td rowspan="2">Comment</td>
</tr>
<tr>
<td>Ok</td>
<td>Rej</td>
</tr>
<tr>
<td>1</td>
<td>Spo2</td>
<td>{{ form.s3_e1_accessory}}</td>
<td>{{ form.s3_e1_status}}</td>

<td></td>
<td>{{ form.s3_e1_comment}}</td>
</tr>

</tbody></table>
                <br>

<span style="font-weight: bold;">
4- بررسی ظاهری دستگاه

</span>



        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 time">
<tbody>
<tr>
<td rowspan="2">Function</td>
<td rowspan="2">Comment</td>
<td colspan="2">Result</td>
</tr>
<tr>
<td>Ok</td>
<td>Rej</td>
</tr>
<tr>
<td>Connection</td>
<td>{{ form.s4_e1_comment}}</td>
<td>{{ form.s4_e1_status}}</td>
<td>-</td>
</tr>
<tr>
<td>Keys and Controllers</td>
<td>{{ form.s4_e2_comment}}</td>
<td>{{ form.s4_e2_status}}</td>
<td>-</td>
</tr>
<tr>
<td>Indicators and display</td>
<td>{{ form.s4_e3_comment}}</td>
<td>{{ form.s4_e3_status}}</td>
<td>-</td>
</tr>
<tr>
<td>Battery</td>
<td>{{ form.s4_e4_comment}}</td>
<td>{{ form.s4_e4_status}}</td>
<td>-</td>
</tr>
</tbody>
        </table>
                <br>
<span style="font-weight: bold;">
5-بررسی توان دستگاه

</span>


                       <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 tb-4 time">
<tbody>
<tr>
    <td colspan="2">Nominal Power</td>
    <td colspan="2">Measured Power</td>
    <td colspan="2">Result</td>
</tr>
<tr>
    <td>V.A</td>
        <td>Watt</td>
    <td>Voltage<br>(V)</td>
    <td>Current <br> (A)</td>
    <td>Ok</td>
    <td>REJ</td>

</tr>
<tr>
    <td>{{ form.s5_e1_va}}</td>
    <td>{{ form.s5_e1_watt}}</td>
    <td>{{ form.s5_e1_v}}</td>
    <td>{{ form.s5_e1_a}}</td>
    <td>-</td>
    <td>-</td>
</tr>

</tbody>
        </table>
                <br>
<span style="font-weight: bold;">
6- زمين حفاظتی

</span>

        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 time">
<tbody>
<tr style="font-weight: bold;">
<td colspan="2">Setting</td>
<td>Type</td>
<td colspan="5">READING</td>
</tr>
<tr>
<td rowspan="5">Protective Earth Resistance</td>
<td rowspan="5">Test current 25A</td>
<td rowspan="5">
    <span style="font-weight: bold;">power supply cord</span>
    <br><br>
     Yes{{ form.s6_e1_type}}
    <br>
    No
</td>
<td rowspan="4">Earth Resistance</td>
<td rowspan="4">Permissible Error</td>
<td colspan="2" rowspan="3">Result</td>
<td rowspan="4">Comment</td>
</tr>
<tr></tr>
<tr></tr>
<tr>
<td>Rej</td>
<td>Ok</td>
</tr>
<tr>
<td>{{ form.s6_e1_er}}</td>
<td>-</td>{# TODO Permisible error of spo2 #}
<td>-</td>
<td>-</td>
<td>{{ form.s6_e1_comment}}</td>
</tr>
</tbody>
</table>
<br>
<div style="font-weight: bold;direction: rtl;">


7- اندازه گيری جريان نشتی زمين
                   </div>


        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 time">
<tbody>
<tr>
<td colspan="2">Setting</td>
<td colspan="2">Reading [&mu;A]</td>
<td rowspan="2">Permissible Error [&mu;A]</td>
<td colspan="2">Result</td>
<td rowspan="2">Comment</td>
</tr>
<tr>
<td>Device</td>
<td>Safety Analyzer</td>
<td>AP-Earth</td>
<td>No AP-Earth</td>
<td>Ok</td>
<td>Rej</td>
</tr>
<tr>
<td>Device on</td>
<td>Earth Leakage: Norm Pol,No Earth ,L2</td>
<td>{{ form.s7_e1_aplc}}</td>
<td>{{ form.s7_e1_noaplc}}</td>
<td>500</td>
<td></td>
<td></td>
<td>{{ form.s7_e1_comment }}</td>
</tr>
<tr>
<td>Device off</td>
<td>Earth Leakage: Norm Pol,No Earth ,L2</td>
<td>{{ form.s7_e2_aplc}}</td>
<td>{{ form.s7_e2_noaplc}}</td>
<td>500</td>
<td></td>
<td></td>
<td>{{ form.s7_e2_comment }}</td>
</tr>
</tbody>
</table>
                <br>


                  <div style="font-weight: bold;direction: rtl;">


8- اندازه گيری جريان کمکی بيمار
                  </div>
{# TODO s8 ap type #}
        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 tb-4 time">
<tbody>
<tr>
<td colspan="4">Setting</td>
<td rowspan="2">Patient Auxiliary Current</td>
<td rowspan="2">Permissible Error</td>
<td colspan="2">Result</td>
</tr>
<tr>
<td>AP</td>
<td>AP Type&nbsp;</td>
<td>DUT Status</td>
<td>Analyzer Status</td>
<td>Rej</td>
<td>Ok</td>
</tr>
<tr>
<td>RA</td>
<td>-</td>
<td>Device ON</td>
<td>Norm Pol,No Earth, L2</td>
<td>-</td>
<td><span>N.A</span></td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>LA</td>
<td>-</td>
<td>Device ON</td>
<td>Norm Pol,No Earth, L2</td>
<td>-</td>
<td><span>N.A</span></td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>LL</td>
<td>-</td>
<td>Device ON</td>
<td>Norm Pol,No Earth, L2</td>
<td>-</td>
<td><span>N.A</span></td>
<td>-</td>
<td>-</td>
</tr>
</tbody></table>
	<!--</div>-->
{#/////////////////////////////////////////////#}
    <br>



            {% render_field form.status class="1" %}

            {{form.totalcomment}}

{% if edit %}
            <input type="text" name="op_type" value="save_edit" hidden>
            <input type="text" name="record_num" value="{{record_num}}" hidden>
          {% elif recal %}
            <input type="text" name="op_type" value="save_recal" hidden>
            <input type="text" name="ref_record_num" value="{{ref_record_num}}" hidden>
          {% elif edit_recal %}
            <input type="text" name="op_type" value="save_edit_recal" hidden>
            <input type="text" name="record_num" value="{{record_num}}" hidden>
          {% else %}

            <input type="text" name="op_type" value="save" hidden>
          {% endif %}
                <br><br>
          <button type="submit"  class="btn btn-primary" style="float: left;" formaction="{% url 'save_router' formtype='spo2' %}" >
              ذخیره نهایی
            </button>

        </div>


        <!--//////////////////////////////////////////////////////////-->

    </table>

</form>

<script>


$( "#id_s1_e1_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e1_comment" ).val());

      var n=($( "#id_s1_e1_spo2" ).val()-96)/96;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e1_spo2").val().length !=0)){
        $("#id_s1_e1_spo2").css("background-color", "#f24858");
      $("#id_s1_e1_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e1_spo2").val().length ==0)) {
        $("#id_s1_e1_spo2").css("background-color", "white");
      $("#id_s1_e1_spo2").css("color", "black");
    }
    });

    $( "#id_s1_e2_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e2_comment" ).val());

      var n=($( "#id_s1_e2_spo2" ).val()-86)/86;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e2_spo2").val().length !=0)){
        $("#id_s1_e2_spo2").css("background-color", "#f24858");
      $("#id_s1_e2_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e2_spo2").val().length ==0)) {
        $("#id_s1_e2_spo2").css("background-color", "white");
      $("#id_s1_e2_spo2").css("color", "black");
    }
    });


    $( "#id_s1_e3_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e3_comment" ).val());

      var n=($( "#id_s1_e3_spo2" ).val()-76)/76;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e3_spo2").val().length !=0)){
        $("#id_s1_e3_spo2").css("background-color", "#f24858");
      $("#id_s1_e3_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e3_spo2").val().length ==0)) {
        $("#id_s1_e3_spo2").css("background-color", "white");
      $("#id_s1_e3_spo2").css("color", "black");
    }
    });


    $( "#id_s1_e4_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e4_comment" ).val());

      var n=($( "#id_s1_e4_spo2" ).val()-96)/96;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e4_spo2").val().length !=0)){
        $("#id_s1_e4_spo2").css("background-color", "#f24858");
      $("#id_s1_e4_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e4_spo2").val().length ==0)) {
        $("#id_s1_e4_spo2").css("background-color", "white");
      $("#id_s1_e4_spo2").css("color", "black");
    }
    });


    $( "#id_s1_e5_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e5_comment" ).val());

      var n=($( "#id_s1_e5_spo2" ).val()-96)/96;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e5_spo2").val().length !=0)){
        $("#id_s1_e5_spo2").css("background-color", "#f24858");
      $("#id_s1_e5_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e5_spo2").val().length ==0)) {
        $("#id_s1_e5_spo2").css("background-color", "white");
      $("#id_s1_e5_spo2").css("color", "black");
    }
    });

    $( "#id_s1_e6_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e6_comment" ).val());

      var n=($( "#id_s1_e6_spo2" ).val()-96)/96;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e6_spo2").val().length !=0)){
        $("#id_s1_e6_spo2").css("background-color", "#f24858");
      $("#id_s1_e6_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e6_spo2").val().length ==0)) {
        $("#id_s1_e6_spo2").css("background-color", "white");
      $("#id_s1_e6_spo2").css("color", "black");
    }
    });

    $( "#id_s1_e7_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e7_comment" ).val());

      var n=($( "#id_s1_e7_spo2" ).val()-96)/96;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e7_spo2").val().length !=0)){
        $("#id_s1_e7_spo2").css("background-color", "#f24858");
      $("#id_s1_e7_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e7_spo2").val().length ==0)) {
        $("#id_s1_e7_spo2").css("background-color", "white");
      $("#id_s1_e7_spo2").css("color", "black");
    }
    });

    $( "#id_s1_e8_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e8_comment" ).val());

      var n=($( "#id_s1_e8_spo2" ).val()-98)/98;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e8_spo2").val().length !=0)){
        $("#id_s1_e8_spo2").css("background-color", "#f24858");
      $("#id_s1_e8_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e8_spo2").val().length ==0)) {
        $("#id_s1_e8_spo2").css("background-color", "white");
      $("#id_s1_e8_spo2").css("color", "black");
    }
    });

    $( "#id_s1_e9_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e9_comment" ).val());

      var n=($( "#id_s1_e9_spo2" ).val()-90)/90;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e9_spo2").val().length !=0)){
        $("#id_s1_e9_spo2").css("background-color", "#f24858");
      $("#id_s1_e9_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e9_spo2").val().length ==0)) {
        $("#id_s1_e9_spo2").css("background-color", "white");
      $("#id_s1_e9_spo2").css("color", "black");
    }
    });

    $( "#id_s1_e10_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e10_comment" ).val());

      var n=($( "#id_s1_e10_spo2" ).val()-88)/88;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e10_spo2").val().length !=0)){
        $("#id_s1_e10_spo2").css("background-color", "#f24858");
      $("#id_s1_e10_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e10_spo2").val().length ==0)) {
        $("#id_s1_e10_spo2").css("background-color", "white");
      $("#id_s1_e10_spo2").css("color", "black");
    }
    });

    $( "#id_s1_e11_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e11_comment" ).val());

      var n=($( "#id_s1_e11_spo2" ).val()-70)/70;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e11_spo2").val().length !=0)){
        $("#id_s1_e11_spo2").css("background-color", "#f24858");
      $("#id_s1_e11_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e11_spo2").val().length ==0)) {
        $("#id_s1_e11_spo2").css("background-color", "white");
      $("#id_s1_e11_spo2").css("color", "black");
    }
    });
    $( "#id_s1_e12_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e12_comment" ).val());

      var n=($( "#id_s1_e12_spo2" ).val()-90)/90;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e12_spo2").val().length !=0)){
        $("#id_s1_e12_spo2").css("background-color", "#f24858");
      $("#id_s1_e12_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e12_spo2").val().length ==0)) {
        $("#id_s1_e12_spo2").css("background-color", "white");
      $("#id_s1_e12_spo2").css("color", "black");
    }
    });
    $( "#id_s1_e13_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e13_comment" ).val());

      var n=($( "#id_s1_e13_spo2" ).val()-85)/85;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e13_spo2").val().length !=0)){
        $("#id_s1_e13_spo2").css("background-color", "#f24858");
      $("#id_s1_e13_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e13_spo2").val().length ==0)) {
        $("#id_s1_e13_spo2").css("background-color", "white");
      $("#id_s1_e13_spo2").css("color", "black");
    }
    });
    $( "#id_s1_e14_spo2" )
    .focusout(function() {
      // alert($( "#id_s1_e14_comment" ).val());

      var n=($( "#id_s1_e14_spo2" ).val()-92)/92;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e14_spo2").val().length !=0)){
        $("#id_s1_e14_spo2").css("background-color", "#f24858");
      $("#id_s1_e14_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e14_spo2").val().length ==0)) {
        $("#id_s1_e14_spo2").css("background-color", "white");
      $("#id_s1_e14_spo2").css("color", "black");
    }
    });
////////////////////////////////


$( "#id_s1_e1_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e1_comment" ).val());

      var n=($( "#id_s1_e1_pr" ).val()-75)/75;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e1_pr").val().length !=0)){
        $("#id_s1_e1_pr").css("background-color", "#f24858");
      $("#id_s1_e1_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e1_pr").val().length ==0)) {
        $("#id_s1_e1_pr").css("background-color", "white");
      $("#id_s1_e1_pr").css("color", "black");
    }
    });

    $( "#id_s1_e2_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e2_comment" ).val());

      var n=($( "#id_s1_e2_pr" ).val()-75)/75;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e2_pr").val().length !=0)){
        $("#id_s1_e2_pr").css("background-color", "#f24858");
      $("#id_s1_e2_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e2_pr").val().length ==0)) {
        $("#id_s1_e2_pr").css("background-color", "white");
      $("#id_s1_e2_pr").css("color", "black");
    }
    });

    $( "#id_s1_e3_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e3_comment" ).val());

      var n=($( "#id_s1_e3_pr" ).val()-75)/75;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e3_pr").val().length !=0)){
        $("#id_s1_e3_pr").css("background-color", "#f24858");
      $("#id_s1_e3_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e3_pr").val().length ==0)) {
        $("#id_s1_e3_pr").css("background-color", "white");
      $("#id_s1_e3_pr").css("color", "black");
    }
    });

    $( "#id_s1_e4_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e4_comment" ).val());

      var n=($( "#id_s1_e4_pr" ).val()-35)/35;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e4_pr").val().length !=0)){
        $("#id_s1_e4_pr").css("background-color", "#f24858");
      $("#id_s1_e4_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e4_pr").val().length ==0)) {
        $("#id_s1_e4_pr").css("background-color", "white");
      $("#id_s1_e4_pr").css("color", "black");
    }
    });

    $( "#id_s1_e5_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e5_comment" ).val());

      var n=($( "#id_s1_e5_pr" ).val()-100)/100;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e5_pr").val().length !=0)){
        $("#id_s1_e5_pr").css("background-color", "#f24858");
      $("#id_s1_e5_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e5_pr").val().length ==0)) {
        $("#id_s1_e5_pr").css("background-color", "white");
      $("#id_s1_e5_pr").css("color", "black");
    }
    });

    $( "#id_s1_e6_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e6_comment" ).val());

      var n=($( "#id_s1_e6_pr" ).val()-200)/200;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e6_pr").val().length !=0)){
        $("#id_s1_e6_pr").css("background-color", "#f24858");
      $("#id_s1_e6_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e6_pr").val().length ==0)) {
        $("#id_s1_e6_pr").css("background-color", "white");
      $("#id_s1_e6_pr").css("color", "black");
    }
    });

    $( "#id_s1_e7_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e7_comment" ).val());

      var n=($( "#id_s1_e7_pr" ).val()-240)/240;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e7_pr").val().length !=0)){
        $("#id_s1_e7_pr").css("background-color", "#f24858");
      $("#id_s1_e7_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e7_pr").val().length ==0)) {
        $("#id_s1_e7_pr").css("background-color", "white");
      $("#id_s1_e7_pr").css("color", "black");
    }
    });

    $( "#id_s1_e8_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e8_comment" ).val());

      var n=($( "#id_s1_e8_pr" ).val()-55)/55;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e8_pr").val().length !=0)){
        $("#id_s1_e8_pr").css("background-color", "#f24858");
      $("#id_s1_e8_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e8_pr").val().length ==0)) {
        $("#id_s1_e8_pr").css("background-color", "white");
      $("#id_s1_e8_pr").css("color", "black");
    }
    });

    $( "#id_s1_e9_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e9_comment" ).val());

      var n=($( "#id_s1_e9_pr" ).val()-95)/95;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e9_pr").val().length !=0)){
        $("#id_s1_e9_pr").css("background-color", "#f24858");
      $("#id_s1_e9_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e9_pr").val().length ==0)) {
        $("#id_s1_e9_pr").css("background-color", "white");
      $("#id_s1_e9_pr").css("color", "black");
    }
    });

    $( "#id_s1_e10_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e10_comment" ).val());

      var n=($( "#id_s1_e10_pr" ).val()-45)/45;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e10_pr").val().length !=0)){
        $("#id_s1_e10_pr").css("background-color", "#f24858");
      $("#id_s1_e10_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e10_pr").val().length ==0)) {
        $("#id_s1_e10_pr").css("background-color", "white");
      $("#id_s1_e10_pr").css("color", "black");
    }
    });

    $( "#id_s1_e11_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e11_comment" ).val());

      var n=($( "#id_s1_e11_pr" ).val()-95)/95;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e11_pr").val().length !=0)){
        $("#id_s1_e11_pr").css("background-color", "#f24858");
      $("#id_s1_e11_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e11_pr").val().length ==0)) {
        $("#id_s1_e11_pr").css("background-color", "white");
      $("#id_s1_e11_pr").css("color", "black");
    }
    });

    $( "#id_s1_e12_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e12_comment" ).val());

      var n=($( "#id_s1_e12_pr" ).val()-180)/180;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e12_pr").val().length !=0)){
        $("#id_s1_e12_pr").css("background-color", "#f24858");
      $("#id_s1_e12_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e12_pr").val().length ==0)) {
        $("#id_s1_e12_pr").css("background-color", "white");
      $("#id_s1_e12_pr").css("color", "black");
    }
    });


    $( "#id_s1_e13_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e13_comment" ).val());

      var n=($( "#id_s1_e13_pr" ).val()-130)/130;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e13_pr").val().length !=0)){
        $("#id_s1_e13_pr").css("background-color", "#f24858");
      $("#id_s1_e13_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e13_pr").val().length ==0)) {
        $("#id_s1_e13_pr").css("background-color", "white");
      $("#id_s1_e13_pr").css("color", "black");
    }
    });


    $( "#id_s1_e14_pr" )
    .focusout(function() {
      // alert($( "#id_s1_e14_comment" ).val());

      var n=($( "#id_s1_e14_pr" ).val()-95)/95;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s1_e14_pr").val().length !=0)){
        $("#id_s1_e14_pr").css("background-color", "#f24858");
      $("#id_s1_e14_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s1_e14_pr").val().length ==0)) {
        $("#id_s1_e14_pr").css("background-color", "white");
      $("#id_s1_e14_pr").css("color", "black");
    }
    });





// tb 2////////////////

$( "#id_s2_e1_spo2" )
    .focusout(function() {
      // alert($( "#id_s2_e1_comment" ).val());

      var n=($( "#id_s2_e1_spo2" ).val()-94)/94;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s2_e1_spo2").val().length !=0)){
        $("#id_s2_e1_spo2").css("background-color", "#f24858");
      $("#id_s2_e1_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s2_e1_spo2").val().length ==0)) {
        $("#id_s2_e1_spo2").css("background-color", "white");
      $("#id_s2_e1_spo2").css("color", "black");
    }
    });

    $( "#id_s2_e2_spo2" )
    .focusout(function() {
      // alert($( "#id_s2_e2_comment" ).val());

      var n=($( "#id_s2_e2_spo2" ).val()-94)/94;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s2_e2_spo2").val().length !=0)){
        $("#id_s2_e2_spo2").css("background-color", "#f24858");
      $("#id_s2_e2_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s2_e2_spo2").val().length ==0)) {
        $("#id_s2_e2_spo2").css("background-color", "white");
      $("#id_s2_e2_spo2").css("color", "black");
    }
    });


    $( "#id_s2_e3_spo2" )
    .focusout(function() {
      // alert($( "#id_s2_e3_comment" ).val());

      var n=($( "#id_s2_e3_spo2" ).val()-94)/94;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s2_e3_spo2").val().length !=0)){
        $("#id_s2_e3_spo2").css("background-color", "#f24858");
      $("#id_s2_e3_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s2_e3_spo2").val().length ==0)) {
        $("#id_s2_e3_spo2").css("background-color", "white");
      $("#id_s2_e3_spo2").css("color", "black");
    }
    });


    $( "#id_s2_e4_spo2" )
    .focusout(function() {
      // alert($( "#id_s2_e4_comment" ).val());

      var n=($( "#id_s2_e4_spo2" ).val()-94)/94;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s2_e4_spo2").val().length !=0)){
        $("#id_s2_e4_spo2").css("background-color", "#f24858");
      $("#id_s2_e4_spo2").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s2_e4_spo2").val().length ==0)) {
        $("#id_s2_e4_spo2").css("background-color", "white");
      $("#id_s2_e4_spo2").css("color", "black");
    }
    });
////////////////////

$( "#id_s2_e1_pr" )
    .focusout(function() {
      // alert($( "#id_s2_e1_comment" ).val());

      var n=($( "#id_s2_e1_pr" ).val()-45)/45;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s2_e1_pr").val().length !=0)){
        $("#id_s2_e1_pr").css("background-color", "#f24858");
      $("#id_s2_e1_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s2_e1_pr").val().length ==0)) {
        $("#id_s2_e1_pr").css("background-color", "white");
      $("#id_s2_e1_pr").css("color", "black");
    }
    });

    $( "#id_s2_e2_pr" )
    .focusout(function() {
      // alert($( "#id_s2_e2_comment" ).val());

      var n=($( "#id_s2_e2_pr" ).val()-45)/45;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s2_e2_pr").val().length !=0)){
        $("#id_s2_e2_pr").css("background-color", "#f24858");
      $("#id_s2_e2_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s2_e2_pr").val().length ==0)) {
        $("#id_s2_e2_pr").css("background-color", "white");
      $("#id_s2_e2_pr").css("color", "black");
    }
    });

    $( "#id_s2_e3_pr" )
    .focusout(function() {
      // alert($( "#id_s2_e3_comment" ).val());

      var n=($( "#id_s2_e3_pr" ).val()-45)/45;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s2_e3_pr").val().length !=0)){
        $("#id_s2_e3_pr").css("background-color", "#f24858");
      $("#id_s2_e3_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s2_e3_pr").val().length ==0)) {
        $("#id_s2_e3_pr").css("background-color", "white");
      $("#id_s2_e3_pr").css("color", "black");
    }
    });

    $( "#id_s2_e4_pr" )
    .focusout(function() {
      // alert($( "#id_s2_e4_comment" ).val());

      var n=($( "#id_s2_e4_pr" ).val()-45)/45;
      if(n<0)
        {
          n=-n;
        }
      if( n>0.03  && ($( "#id_s2_e4_pr").val().length !=0)){
        $("#id_s2_e4_pr").css("background-color", "#f24858");
      $("#id_s2_e4_pr").css("color", "white");  
    }
      else if( n<=0.03 || ($( "#id_s2_e4_pr").val().length ==0)) {
        $("#id_s2_e4_pr").css("background-color", "white");
      $("#id_s2_e4_pr").css("color", "black");
    }
    });


////////////////////////////table 7

   $( "#id_s7_e1_aplc" )
    .focusout(function() {
      if( ( $( "#id_s7_e1_aplc" ).val()>500 )  && ($( "#id_s7_e1_aplc").val().length !=0)){
        $("#id_s7_e1_aplc").css("background-color", "#f24858");
      $("#id_s7_e1_aplc").css("color", "white");

      $("#id_s7_e1_comment").css("background-color", "#f24858");
      $("#id_s7_e1_comment").css("color", "white");
      $("#id_s7_e1_comment").val("2");
    }
      else if(( $( "#id_s7_e1_aplc" ).val()<=500 ) || ($( "#id_s7_e1_aplc").val().length ==0)) {
        $("#id_s7_e1_aplc").css("background-color", "white");
      $("#id_s7_e1_aplc").css("color", "black");


      $("#id_s7_e1_comment").css("background-color", "white");
      $("#id_s7_e1_comment").css("color", "black");
      $("#id_s7_e1_comment").val("1");
    }
    
    });



    $( "#id_s7_e1_noaplc" )

    .focusout(function() {
    
      if( ( $( "#id_s7_e1_noaplc" ).val()>500 )  && ($( "#id_s7_e1_noaplc").val().length !=0)){
        $("#id_s7_e1_noaplc").css("background-color", "#f24858");
      $("#id_s7_e1_noaplc").css("color", "white");

      $("#id_s7_e1_comment").css("background-color", "#f24858");
      $("#id_s7_e1_comment").css("color", "white");
      $("#id_s7_e1_comment").val("2");
    }
      else if(( $( "#id_s7_e1_noaplc" ).val()<=500 ) || ($( "#id_s7_e1_noaplc").val().length ==0)) {
        $("#id_s7_e1_noaplc").css("background-color", "white");
      $("#id_s7_e1_noaplc").css("color", "black");


      $("#id_s7_e1_comment").css("background-color", "white");
      $("#id_s7_e1_comment").css("color", "black");
      $("#id_s7_e1_comment").val("1");
    }
    
    });
////////////////////
  $( "#id_s7_e2_aplc" )

    .focusout(function() {
    
      if( ( $( "#id_s7_e2_aplc" ).val()>500 )  && ($( "#id_s7_e2_aplc").val().length !=0)){
        $("#id_s7_e2_aplc").css("background-color", "#f24858");
      $("#id_s7_e2_aplc").css("color", "white");

  $("#id_s7_e2_comment").css("background-color", "#f24858");
      $("#id_s7_e2_comment").css("color", "white");
      $("#id_s7_e2_comment").val("2");
    }
      else if(( $( "#id_s7_e2_aplc" ).val()<=500 ) || ($( "#id_s7_e2_aplc").val().length ==0)) {
        $("#id_s7_e2_aplc").css("background-color", "white");
      $("#id_s7_e2_aplc").css("color", "black");


      $("#id_s7_e2_comment").css("background-color", "white");
      $("#id_s7_e2_comment").css("color", "black");
      $("#id_s7_e2_comment").val("1");
    }
    
    });



    $( "#id_s7_e2_noaplc" )

    .focusout(function() {
    
      if( ( $( "#id_s7_e2_noaplc" ).val()>500 )  && ($( "#id_s7_e2_noaplc").val().length !=0)){
        $("#id_s7_e2_noaplc").css("background-color", "#f24858");
      $("#id_s7_e2_noaplc").css("color", "white");

      $("#id_s7_e2_comment").css("background-color", "#f24858");
      $("#id_s7_e2_comment").css("color", "white");
      $("#id_s7_e2_comment").val("2");
    }
      else if(( $( "#id_s7_e2_noaplc" ).val()<=500 ) || ($( "#id_s7_e2_noaplc").val().length ==0)) {
        $("#id_s7_e2_noaplc").css("background-color", "white");
      $("#id_s7_e2_noaplc").css("color", "black");


      $("#id_s7_e2_comment").css("background-color", "white");
      $("#id_s7_e2_comment").css("color", "black");
      $("#id_s7_e2_comment").val("1");
    }
    
    });

</script>