{% load static %}
{% load widget_tweaks %}


<link rel="stylesheet" href="{% static 'css/spo2-styles.css' %}">


<form method="POST" class="post-form">

    {% csrf_token %}

    <table class="table-bordered">
        <!--////////////////////////////////////////////////////////////-->
        <div class="data container-fluid">
          {% if edit %}
          <div class="alert alert-warning">
               شما در حال ویرایش گزارش شماره {{ licence_num }} هستید
        </div>
          {% elif recal %}
          <div class="alert alert-warning">
               شما در حال ثبت گزارش ریکالیبراسیون گواهی شماره {{ licence_num }} هستید
        </div>
          {% elif edit_recal %}
          <div class="alert alert-warning">
               شما در حال ویرایش گزارش ریکالیبراسیون گواهی شماره {{ licence_num }} هستید
        </div>

          {% endif %}
<h1 class="header-t" align="center" style="font-size: 20pt;font-weight: bold;">
گواهينامه کنترل کيفي دستگاه ونتیلاتور
</h1>


            <div class="row" style="margin-right: 40px;">
      <div class="col-md-6 col-sm-12" style="margin-top: 10px;">
      	<span style="margin-right: 30px;"> نام دستگاه : </span>
        <span class="ee">
          {% render_field form.device class="mdb-select md-form colorful-select dropdown-primary" searchable="Search here.." %}
        </span>


        <!--
      	<input type="text" style="display: inline-block;text-align: right;" class="form-control" name="product-name" value="abcde" disabled> -->
      </div>
      <div class="col-md-6 col-sm-12" style="margin-top: 10px;">

          <span> شماره درخواست  : </span>
        <span class="ee"> {{form.request}} </span>

        <!--
        <input type="text" style="display: inline-block;text-align: right;" class="form-control" name="request-number" disabled> -->
      </div>

      <div class="col-md-6 col-sm-12" style="margin-top: 10px;">

      <span> رطوبت محیطی : </span>
        <span class="ee">
            {{form.humidity}}
        </span>

        <!--
        <input type="text" style="display: inline-block;text-align: right;" class="form-control" name="Environmental-humidity" disabled> -->
      </div>


      <div class="col-md-6 col-sm-12" style="margin-top: 10px;">

      <label style="margin-right: 17px;" > دمای محیطی : </label>
                  <span class="ee"> {{form.temp}} </span>

      <!--
        <input type="text" style="display: inline-block;text-align: right;" class="form-control" name="Environmental-humidity" disabled> -->
      </div>

      </div>







	<!--</form>-->

<br><br>


<h2>تجهیزات آزمون : </h2>

<div class="container">
  <label>نام تجهیز :</label><br>
  <label>دستگاه شماره 1 :</label>
    <span class="ee">
      {{form.cal_dev1}}
    </span><br>
  <label>دستگاه شماره 2 :</label>
    <span class="ee">
      {{form.cal_dev2}}
    </span><br>
  <label>دستگاه شماره 3 :</label>
    <span class="ee">
      {{form.cal_dev3}}
    </span><br>
  <label>دستگاه شماره 4 :</label>
    <span class="ee">
      {{form.cal_dev4}}
    </span><br>




</div>
<br><br>

<div style="font-weight: bold;">

تستهای کیفی:
        </div>
<br>
<br>

        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1">
<tbody>
<tr>
<td rowspan="2"><span>توضیحات</span></td>
<td colspan="2"><span>نتیجه</span></td>
<td rowspan="2"><span>عنوان بررسی</span></td>
<td rowspan="2"><span>ردیف</span></td>
</tr>
<tr>
<td class="time">Rej</td>
<td class="time">Ok</td>
</tr>
<tr>
<td>{{ form.s0_e1_comment}}</td>
<td>{{ form.s0_e1_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>بدنه / شاسی</span></td>
<td>1</td>
</tr>
<tr>
<td>{{ form.s0_e2_comment}}</td>
<td>{{ form.s0_e2_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>نصب و نگهدارنده ها</span></td>
<td>2</td>
</tr>
<tr>
<td>{{ form.s0_e3_comment}}</td>
<td>{{ form.s0_e3_status}}</td>
<td>-</td>
<td style="text-align:right; ">چرخ ها / ترمزها</td>
<td>3</td>
</tr>
<tr>
<td>{{ form.s0_e4_comment}}</td>
<td>{{ form.s0_e4_status}}</td>
<td>-</td>
<td style="text-align:right; ">قطع کننده مدار / فیوز</td>
<td>4</td>
</tr>
<tr>
<td>{{ form.s0_e5_comment}}</td>
<td>{{ form.s0_e5_status}}</td>
<td>-</td>
<td style="text-align:right; ">تیوبها و شلنگ ها</td>
<td>5</td>
</tr>
<tr>
<td>{{ form.s0_e6_comment}}</td>
<td>{{ form.s0_e6_status}}</td>
<td>-</td>
<td style="text-align:right; ">کابل ها</td>
<td>6</td>
</tr>
<tr>
<td>{{ form.s0_e7_comment}}</td>
<td>{{ form.s0_e7_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>اتصالات و کانکتورها</span></td>
<td>7</td>
</tr>
<tr>
<td>{{ form.s0_e8_comment}}</td>
<td>{{ form.s0_e8_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>فیلترها</span></td>
<td>8</td>
</tr>
<tr>
<td>{{ form.s0_e9_comment}}</td>
<td>{{ form.s0_e9_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>کنترل ها و سوئیچ ها</span></td>
<td>9</td>
</tr>
<tr>
<td>{{ form.s0_e10_comment}}</td>
<td>{{ form.s0_e10_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>بلوز یا پیستون</span></td>
<td>10</td>
</tr>
<tr>
<td>{{ form.s0_e11_comment}}</td>
<td>{{ form.s0_e11_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>سیلندر گاز ( گیج ها و رگولاتورها)</span></td>
<td>11</td>
</tr>
<tr>
<td>{{ form.s0_e12_comment}}</td>
<td>{{ form.s0_e12_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>سیستم تنفسی (شامل فیلتر)</span></td>
<td>12</td>
</tr>
<tr>
<td>{{ form.s0_e13_comment}}</td>
<td>{{ form.s0_e13_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>رطوبت ساز</span></td>
<td>13</td>
</tr>
<tr>
<td>{{ form.s0_e14_comment}}</td>
<td>{{ form.s0_e14_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>مکانیزم تخلیه فشار</span></td>
<td>14</td>
</tr>
<tr>
<td>{{ form.s0_e15_comment}}</td>
<td>{{ form.s0_e15_status}}</td>
<td>-</td>
<td style="text-align:right; ">جاذب دی اکسید کربن</td>
<td>15</td>
</tr>
<tr>
<td>{{ form.s0_e16_comment}}</td>
<td>{{ form.s0_e16_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>فن&nbsp;</span></td>
<td>16</td>
</tr>
<tr>
<td>{{ form.s0_e17_comment}}</td>
<td>{{ form.s0_e17_status}}</td>
<td>-</td>
<td style="text-align:right; ">شارژر / باطری</td>
<td>17</td>
</tr>
<tr>
<td>{{ form.s0_e18_comment}}</td>
<td>{{ form.s0_e18_status}}</td>
<td>-</td>
<td style="text-align:right; ">نمایشگرها و نشانگرها&nbsp;</td>
<td>18</td>
</tr>
<tr>
<td>{{ form.s0_e19_comment}}</td>
<td>{{ form.s0_e19_status}}</td>
<td>-</td>
<td style="text-align:right; ">آلارم ها</td>
<td>19</td>
</tr>
<tr>
<td>{{ form.s0_e20_comment}}</td>
<td>{{ form.s0_e20_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>برچسب</span></td>
<td>20</td>
</tr>
<tr>
<td>{{ form.s0_e21_comment}}</td>
<td>{{ form.s0_e21_status}}</td>
<td>-</td>
<td style="text-align:right; "><span>اکسسوری ها</span></td>
<td>21</td>
</tr>
</tbody></table>


<br><br>
<span style="font-weight: bold;">
                تست های کمی:
</span>
<br>
            <span style="font-weight: bold;">کلاس دستگاه:</span>
            {{ form.test_type }}


<br><br>




<br><br>


<span style="font-weight: bold;">
1. مقاومت زمین حفاظتی
</span>
    <div>
                مقدار اندازه گیری شده: {{form.s1_e1_res}}
    </div>
<br>

<table style="text-align:center;margin: auto;width: 95%;font-weight: bold;direction: ltr;" class="tb-2 tb-4">
      <tbody>
         <tr>
            <td rowspan="2">توضیحات</td>
            <td colspan="2">نتیجه</td>
            <td rowspan="2">حد مجاز (Ω)</td>
            <td rowspan="2">نوع کابل</td>

          </tr>
            <tr>
                <td class="time">Rej</td>
                <td class="time">Ok</td>
            </tr>
        <tr>
            <td>{{ form.s1_e1_comment}}</td>
            <td></td>
            <td></td>
            <td class="time">0.1</td>
            <td>جدا شدنی</td>
        </tr>
        <tr>
          <td>{{ form.s1_e2_comment}}</td>
          <td></td>
          <td></td>
          <td class="time">0.2</td>
            <td>جدا نشدنی</td>
        </tr>

      </tbody>

    </table>


<br><br>


<span style="font-weight: bold;">
2. جریان نشتی زمین</span>
<br><br>
<table style="text-align:center;margin: auto;width: 95%;font-weight: bold;direction: ltr;" class="tb-2 tb-4">

          <tbody>
          <tr>
                <td rowspan="2">توضیحات</td>
                <td colspan="2">نتیجه</td>
                <td rowspan="2">مقدار مجاز (µa)</td>
                <td rowspan="2">مقدار قرائت شده (µa)</td>
                <td rowspan="2">شرایط کاری</td>
                <td rowspan="2">حالت تست</td>
              </tr>
                <tr>
                    <td class="time">Rej</td>
                    <td class="time">Ok</td>
                </tr>
            <tr>
              <td>{{ form.s2_e1_comment}}</td>
              <td></td>
              <td></td>
              <td class="time">500</td>
                <td>{{ form.s2_e1_lc}}</td>
              <td style="text-align: right;">- روشن</td>
              <td rowspan="4">عادی</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="time">500</td>
              <td></td>
              <td style="text-align: right;">- خاموش </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="time">500</td>
              <td></td>
              <td style="text-align: right;" class="time"> Standby -</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="time">500</td>
              <td></td>
              <td style="text-align: right;">- پلاریته معکوس</td>
            </tr>
            <tr>
              <td>{{ form.s2_e2_comment}}</td>
              <td></td>
              <td></td>
              <td class="time">1000</td>
              <td>{{ form.s2_e2_lc}}</td>
              <td style="text-align: right;">- قطع یکی از سیمهای تغذیه</td>
              <td>تک اشکالی</td>
            </tr>

          </tbody>

        </table>
<div>
نکات: 1- در هریک از شرایط کاری فوق در صورت امکان باید تست در حالتی که قسمتهای کاربردی نوع F  به زمین متصل و از آن جدا می باشند نیز تکرار شود.            </div>
<br><br>


<span style="font-weight: bold;">3. جریان نشتی محفظه</span>
<br><br>
<table style="text-align:center;margin: auto;width: 95%;font-weight: bold;direction: ltr;" class="tb-2 tb-4">
          <tbody>
                        <tr>
                <td rowspan="2">توضیحات</td>
                <td colspan="2">نتیجه</td>
                <td rowspan="2">مقدار مجاز (µa)</td>
                <td rowspan="2">مقدار قرائت شده (µa)</td>
                <td rowspan="2">شرایط کاری</td>
                <td rowspan="2">حالت تست</td>
              </tr>
                <tr class="time">
                    <td>Rej</td>
                    <td>Ok</td>
                </tr>
            <tr>
            <td>{{ form.s3_e1_comment}}</td>
                <td></td>
              <td></td>
              <td class="time">100</td>
            <td>{{ form.s3_e1_lc}}</td>
              <td style="text-align: right;">- روشن</td>
              <td rowspan="4">عادی</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="time">100</td>
              <td></td>
              <td style="text-align: right;">- خاموش </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="time">100</td>
              <td></td>
              <td style="text-align: right;" class="time"> Standby -</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="time">100</td>
              <td></td>
              <td style="text-align: right;">- پلاریته معکوس</td>
            </tr>
            <tr>
              <td>{{ form.s3_e2_comment}}</td>
              <td></td>
              <td></td>
              <td class="time">500</td>
              <td>{{ form.s3_e2_lc}}</td>
              <td style="text-align: right;">- قطع یکی از سیمهای تغذیه – قطع زمین حفاظتی</td>
              <td>تک اشکالی</td>
            </tr>

          </tbody>

        </table>
                <br>
        <div>
            نکات:1- در هریک از شرایط کاری فوق در صورت امکان باید تست در حالتی که قسمتهای کاربردی نوع F  به زمین متصل و از آن جدا می باشند نیز تکرار شود.
        </div>

        <br><br>

    <span style="font-weight: bold;">
4. جریان نشتی بیمار</span>
<br><br>
        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 time tb-4">
<tbody>
<tr>
<td colspan="3" style="border: none;"></td>
<td colspan="4">
    AP
    <span style="font-family: 'B Nazanin';">نوع</span>
    </td>
<td colspan="2" rowspan="2">
    <span style="font-family: 'B Nazanin';">مقدار قرائت شده</span>
    (&micro;a)
</td>
<td rowspan="3">
    <span style="font-family: 'B Nazanin';"> شرایط کاری</span>
</td>
<td rowspan="3">
    <span style="font-family: 'B Nazanin';">حالت تست</span>
</td>
</tr>
<tr>
<td rowspan="2">
        <span style="font-family: 'B Nazanin';">توضیحات</span>
</td>
<td colspan="2">
        <span style="font-family: 'B Nazanin';">نتیجه</span>
</td>
<td colspan="2">BF type</td>
<td colspan="2">CF type</td>
</tr>
<tr>
<td>Rej</td>
<td>Ok</td>
<td>ac&nbsp;</td>
<td>dc</td>
<td>ac</td>
<td>dc</td>
<td>ac</td>
<td>dc</td>
</tr>
<tr>
<td> {{ form.s4_e1_comment }}</td>
<td>-</td>
<td>-</td>
<td>100</td>
<td>10</td>
<td>10</td>
<td>10</td>
<td> {{ form.s4_e1_lcac }}</td>
<td> {{ form.s4_e1_lcdc }}</td>
<td  style="font-family: 'B Nazanin';text-align: right;">
        <span>- روشن</span>
</td>
<td rowspan="4">
        <span style="font-family: 'B Nazanin';">عادی</span>
</td>
</tr>
<tr>
<td>-</td>
<td>-</td>
<td><span>-</span></td>
<td>100</td>
<td>10</td>
<td>10</td>
<td>10</td>
<td>N.A</td>
<td>N.A</td>
<td  style="font-family: 'B Nazanin';text-align: right;">

        <span>- خاموش</span>

</td>
</tr>
<tr>
<td>-</td>
<td>-</td>
<td><span>-</span></td>
<td>100</td>
<td>10</td>
<td>10</td>
<td>10</td>
<td>N.A</td>
<td>N.A</td>
<td style="text-align: right;">Standby -</td>
</tr>
<tr>
<td>-</td>
<td>-</td>
<td><span>-</span></td>
<td>100</td>
<td>10</td>
<td>10</td>
<td>10</td>
<td>N.A</td>
<td>N.A</td>
<td  style="font-family: 'B Nazanin';text-align: right;">
        <span>- پلاریته معکوس</span>
</td>
</tr>
<tr>
<td> {{ form.s4_e2_comment }}</td>
<td>-</td>
<td><span>-</span></td>
<td>500</td>
<td>50</td>
<td>50</td>
<td>50</td>
<td> {{ form.s4_e2_lcac }}</td>
<td> {{ form.s4_e2_lcdc }}</td>
<td  style="font-family: 'B Nazanin';text-align: right;">
        <span>- قطع یکی از سیمهای تغذیه</span>

</td>
<td rowspan="2">

            <span style="font-family: 'B Nazanin';"> تک اشکالی</span>
</td>
</tr>
<tr>
<td>-</td>
<td>-</td>
<td><span>-</span></td>
<td>500</td>
<td>50</td>
<td>50</td>
<td>50</td>
<td>N.A</td>
<td>N.A</td>
<td style="font-family: 'B Nazanin';text-align: right;">
                <span>- قطع زمین حفاظتی</span>
</td>
</tr>
</tbody>
</table>
                <br>
        <div>
*:قسمت کاربردی1: اکسترنال پدل،2: اینترنال پدل، 3: الکترودهای یکبار مصرف،4: لیدهای ECG        </div>
        <br>


    <div style="font-weight: bold;">
                       <span class="time">:([2]</span>
                       ازمرجع
                       <span class="time">19</span>

5) جریان نشتی  بیمار (قسمت کاربردی ایزوله و اعمال ولتاژ خارجی)(بند  

               </div>

        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 time tb-4">
          <tbody>
                    <tr style="font-family: 'B Nazanin';">
                <td rowspan="2">توضیحات</td>
                <td colspan="2">نتیجه</td>
                <td colspan="2">
                    <span style="font-family: 'Times New Roman';">(µa)</span>
                    مقدار مجاز
                </td>
                <td colspan="2">

                    مقدار قرائت شده
                   <span class="time">(µa)</span>
                </td>
                <td rowspan="2">شرایط کاری</td>
                <td rowspan="2">حالت تست</td>
              </tr>
                <tr>
                    <td>Rej</td>
                    <td>Ok</td>
                    <td>BF type</td>
                    <td>CF type</td>
                    <td>BF type</td>
                    <td>CF type</td>

                </tr>
            <tr>
              <td> {{ form.s5_e1_comment }}</td>
              <td></td>
              <td></td>
              <td>5000</td>
              <td>100</td>
              <td> {{ form.s5_e1_lcbf }}</td>
              <td> {{ form.s4_e2_lccf }}</td>
              <td style="font-family: 'B Nazanin';">اعمال ولتاژ 110% ولتاژ نامی بین قسمت کاربردی ایزوله و زمین</td>
              <td style="font-family: 'B Nazanin';">تک اشکالی</td>
            </tr>

          </tbody>
        </table>
                <br>


       <div style="font-weight: bold;">
            6) ولو فلاش اکسیژن:
        </div>
                <br>
        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-1 tb-4">
          <tbody>
          <tr>
                <td rowspan="2">فلوی تنظیمی
                    <br>
                    <span class="time">(lit/min)</span>
                    اکسیژن
                    </td>
                <td rowspan="2">گستره مجاز
                    <br>
                    فلوی فلاش
                    <br>
                    <span class="time">(lit/min)</span>
                </td>
                <td rowspan="2">فلوی فلاش
                    <br>
                    خوانده شده
                    <br>
                    <span class="time">(lit/min)</span>
                </td>
                <td rowspan="2">کاهش فلو
                    <br>
                    <span class="time">(lit/min)</span>
                    <br>
                    (وقتی ولو فلاش اکسیژن بسته می شود)</td>
                <td colspan="2">نتیجه</td>
              </tr>
                <tr class="time">
                    <td>Rej</td>
                    <td>Ok</td>
                </tr>
            <tr class="time">
              <td>2</td>
              <td>35-75</td>
              <td> {{ form.s6_e1_rff }}</td>
              <td> {{ form.s6_e1_ffr }}</td>
              <td></td>
              <td></td>
            </tr>

          </tbody>

        </table>

        <br>
        <div style="font-weight: bold;">
        7) نشتی های فشار بالا(مرجع 3)
        </div>
        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-4">
          <tbody>
          <tr>
                <td rowspan="2">تمام ولوهای
                    <br>
                    کنترل فلو: بسته
                    <br>
                    <span class="time">O<sub>2</sub></span>
                    ولوهای سیلندر
                    <br>
                    : باز
                    <span class="time">N<sub>2</sub>O</span>
                    و
                </td>
                <td rowspan="2">تمام ولوهای
                    <br>
                    کنترل فلو: بسته
                    <br>
                    <span class="time">O<sub>2</sub></span>
                    ولوهای سیلندر
                    <br>
                    : باز
                    <span class="time">N<sub>2</sub>O</span>
                    و
                </td>
              <td rowspan="2">ولوهای سیلندر
                  <span class="time">: N<sub>2</sub>O</span>
                  و
                  <span class="time">O<sub>2</sub></span>
                  بسته</td>
                <td rowspan="2">ولو کنترل
                    <span class="time">:N<sub>2</sub>O</span>
                    فلوی
                    <br>
                    باز</td>
                <td colspan="2">نتیجه</td>
              </tr>
                <tr class="time">
                    <td>Rej</td>
                    <td>Ok</td>
                </tr>
            <tr class="time">
              <td>PO2: {{form.s7_e1_si1}}</td>
              <td>PN2O: {{form.s7_e1_si2}}</td>
              <td>PO2: {{form.s7_e1_si3}}</td>
              <td>PN2O: {{form.s7_e1_si4}}</td>
              <td></td>
              <td></td>
            </tr>

          </tbody>

        </table>

        <br>
        <div style="font-weight: bold;">
            8) نشتی های فشارمتوسط(مرجع 3)
        </div>
        <table style="margin: auto;width: 30%;text-align: center;direction: ltr;" class="tb-4">
          <tbody>
          <tr>
                <td colspan="2">نتیجه</td>
              </tr>
                <tr class="time">
                    <td>Rej</td>
                    <td>Ok</td>
                </tr>
          <tr>
              <td>{{form.s8_e1_status}}</td>
              <td>-</td>
            </tr>

          </tbody>

        </table>



                      <div style="font-weight: bold;padding-top: 5cm;">
9) نشتی های فشار پایین(مرجع 3)
        </div>

        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-2 tb-5">
          <tbody>
          <tr>
                <td rowspan="3">
                    ولوهای کنترل فلو و وپرایزر: باز
                </td>
                <td rowspan="2">مقدار مجاز</td>
                <td rowspan="2">مقدار قرائت شده</td>
                <td colspan="2">نتیجه</td>
              </tr>
          <tr class="time">
                    <td>Rej</td>
                    <td>Ok</td>
                </tr>
            <tr>
              <td class="time">
                  25cmH2O≤Pout≤30cmH2O
                  <br>
                  (T: 30s)
              </td>
              <td class="time">P<sub>out</sub>:{{form.s9_e1}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div style="height: 0.25cm;"></div>
<div style="font-weight: bold;">
10) سیستم تنفس(مرجع 3)
        </div>
        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-2 tb-5">
          <tbody>
          <tr>
                <td rowspan="3">
                    : بسته
                    <span class="time">APL</span>
                    ولو
                    <br>
                    اعمال مقدار فشار
                    <br>
                    در سیستم تنفس :
                    <br>
                    <span class="time">50cm H<sub>2</sub>O</span>
                </td>
                <td rowspan="2">مقدار مجاز</td>
                <td rowspan="2">مقدار قرائت شده</td>
                <td colspan="2">نتیجه</td>
              </tr>
                <tr class="time">
                    <td>Rej</td>
                    <td>Ok</td>
                </tr>
            <tr class="time">
              <td>30cmH2O ≤ PBS (T: 30s)</td>
              <td>PBS: {{form.s10_e1}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div style="height: 0.25cm;"></div>


        <div style="font-weight: bold;">
11) ولو APL (مرجع 3)
        </div>
        <table style="margin: auto;width: 30%;text-align: center;direction: ltr;" class="tb-2 tb-5">
          <tbody>
          <tr>
                <td colspan="2">نتیجه</td>
              </tr>
                <tr class="time">
                    <td>Rej</td>
                    <td>Ok</td>
                </tr>
            <tr>
              <td>{{form.s11_e1_status}}</td>
              <td>-</td>
            </tr>

          </tbody>

        </table>
        <div style="height: 0.25cm;"></div>
        <div style="font-weight: bold;">
12) فلومترها(مرجع 3)
        </div>
        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-2 tb-5">
<tbody>
<tr>
<td>
    <span class="time">O<sub>2</sub></span>
    <span>فلوی</span>
</td>
<td>
    <span class="time">N<sub>2</sub>O</span>
    و
    <span class="time">O<sub>2</sub></span>
        <span>فلوی</span>

</td>
<td colspan="2"><span>نتیجه</span></td>
</tr>
<tr>
<td><span>
    مقدار
    <span class="time"> &plusmn;10% </span>
    مقدار مجاز:
    <br>
    تنظیمی
</span></td>
<td><span>
    مقدار
    <span class="time"> &plusmn;10% </span>
    مقدار مجاز:
    <br>
    تنظیمی
</span>
</td>
    <td class="time">Rej</td>
<td class="time">Ok</td>
</tr>
<tr>
<td><span>مقدار قرائت شده : {{form.s12_e1_o2}}</span></td>
<td><span>مقدار قرائت شده : {{form.s12_e1_o2n2o}}</span></td>
<td>-</td>
<td>-</td>
</tr>
</tbody>
        </table>
        <div style="height: 0.25cm;"></div>
                <div style="font-weight: bold;">
13) مینیمم فلوی اکسیژن و درصد آن(مرجع 3)
        </div>
<table style="margin: auto;width: 100%;text-align: center;" class="tb-2 tb-5">
<tbody>
<tr>
<td><span>دورترین ولو فلومتر اکسیژن : بسته</span></td>
<td><span>تنظیم فلوی اکسیژن
    <br>
    و افزایش تدریجی
    <span class="time"> 200ml/min </span>
    روی
    <br>
    <span class="time"> N<sub>2</sub>O </span>
    فلوی
</span></td>
<td colspan="2"><span>نتیجه&nbsp;</span></td>
</tr>
<tr>
<td><span>
    <span class="time"> 100ml/min </span>
    مقدار مجاز:
    <br>
    <span class="time"> 250ml/min </span>
    تا
    </span></td>
<td><span>مقدار مجاز: مینیمم درصد اکسیژن تعریف
    <br>
    <span class="time"> 250ml/min </span>
    تا
    <span class="time"> 100ml/min </span>
    شده توسط سازنده یا
     </span></td>
<td class="time">Rej</td>
<td class="time">Ok</td>
</tr>
<tr>
<td><span>مقدار قرائت شده : {{form.s13_e1}}</span></td>
<td><span>مقدار قرائت شده : {{form.s13_e2}}</span></td>
<td>&nbsp;-</td>
<td>&nbsp;-</td>
</tr>
</tbody>
        </table>
        <div style="height: 0.25cm;"></div>
                <div style="font-weight: bold;">
            <span>(مرجع 3)</span>
            <span class="time">PEEP</span>
                    <span>14) ولو</span>
        </div>
<table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-2 tb-5">
      <tbody>
<tr>
<td class="time">PEEP: 0cmH<sub>2</sub>O <br> APL Valve: 30cmH<sub>2</sub>O <br> Gas Flow: 4L/min</td>
<td class="time">PEEP: 5cmH<sub>2</sub>O <br> APL Valve: 30cmH<sub>2</sub>O <br> Gas Flow: 4L/min</td>
<td class="time">PEEP: 10cmH<sub>2</sub>O <br> APL Valve: 30cmH<sub>2</sub>O <br> Gas Flow: 4L/min</td>
<td colspan="2"><span>نتیجه&nbsp;</span></td>
</tr>
<tr>
<td><span>مقدار مجاز:
    <br>
    <span class="time">PEEP&lt; 1cmH<sub>2</sub>O</span>
    </span></td>
<td><span>مقدار مجاز:
    <br>
    از
    <span class="time">&plusmn;1.5cmH<sub>2</sub>O</span>
    <br>
    مقدار تنظیمی</span></td>
<td><span>مقدار مجاز:
    <br>
    از
    <span class="time">&plusmn;1.5cmH<sub>2</sub>O</span>
    <br>
    مقدار تنظیمی</span></td>
<td class="time">Rej</td>
<td class="time">Ok</td>
</tr>
<tr>
<td><span>مقدار قرائت شده:{{ form.s14_e1 }}&nbsp;</span></td>
<td><span>مقدار قرائت شده:{{ form.s14_e2 }}&nbsp;</span></td>
<td><span>مقدار قرائت شده:{{ form.s14_e3 }}&nbsp;</span></td>
<td>-</td>
<td>-</td>
</tr>
</tbody>

        </table>

             <div style="font-weight: bold;padding-top: 5cm;">
            <span>(مرجع 3)</span>
            <span class="time">Exhaled Volume Monitor</span>
            (15
        </div>

        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-5">
          <tbody>
<tr>
<td><span>
    <span class="time">500ml</span>
    تنظیم حجم جاری روی
    </span></td>
<td><span>
    تنفس در
    <span class="time"> 6 </span>
    پس از اعمال

    <br>
    یک دقیقه</span></td>
<td colspan="2"><span>نتیجه</span></td>
</tr>
<tr>
<td><span>
    مقدار تنظیمی
    <span class="time"> 15% </span>
    مقدار مجاز:

    </span></td>
<td><span>
    <span class="time">3Litr &plusmn; 15%</span>
    مقدار مجاز:
    <br>
    مقدار تنظیمی


</span></td>
<td class="time">Rej</td>
<td class="time">Ok</td>
</tr>
<tr>
<td><span>مقدار قرائت شده :{{ form.s15_e1 }}</span></td>
<td><span>مقدار قرائت شده :{{ form.s15_e2 }}</span></td>
<td>-</td>
<td>-</td>
</tr>
</tbody>
        </table>

                <div style="height: 0.3cm;"></div>

<div style="font-weight: bold;">
16) تنظیمات و مودها(مرجع 1)
</div>
        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-5">
<tbody>
<tr>
<td colspan="2"><span>
    <span class="time">&plusmn;10%</span>
    صحت :
    <br>
    مقدار تنظیمی</span></td>
<td><span>حجم جاری</span></td>
<td><span>ریت تنفس</span></td>
<td><span>زمان دم</span></td>
<td><span>زمان بازدم</span></td>
<td><span>نسبت دم به &divide;بازدم</span></td>
<td><span>فشار</span></td>
<td><span>فلو</span></td>
</tr>
<tr class="time">
<td colspan="2" style="font-family: 'B Nazanin';"><span>مقدار تنظیمی</span></td>
<td>500</td>
<td>12</td>
<td>{{ form.s16_1e1 }}</td>
<td>{{ form.s16_1e2 }}</td>
<td>1:02</td>
<td>20</td>
<td>{{ form.s16_1e3 }}</td>
</tr>
<tr class="time">
<td colspan="2" style="font-family: 'B Nazanin';"><span>مقدار قرائت شده</span></td>
<td>{{ form.s17_1e1 }}</td>
<td>{{ form.s17_1e2 }}</td>
<td>{{ form.s17_1e3 }}</td>
<td>{{ form.s17_1e4 }}</td>
<td>{{ form.s17_1e5 }}</td>
<td>{{ form.s17_1e6 }}</td>
<td>{{ form.s17_1e7 }}</td>
</tr>
<tr class="time">
<td>Ok</td>
<td rowspan="2" style="font-family: 'B Nazanin';"><span>نتیجه</span></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="time">
<td>Rej</td>
<td>.</td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
</tr>
</tbody>
        </table>
                <div style="height: 0.3cm;"></div>


        <div style="font-weight: bold;">
17) مانیتورها و آلارم ها(مرجع)
        </div>
        <table style="margin: auto;width: 100%;text-align: center;direction: ltr;" class="tb-5">
<tbody>
<tr>
<td rowspan="2"><span>نوع آلارم</span></td>
<td rowspan="2"><span>درستی عملکرد آلارم</span></td>
<td rowspan="2">صحت آلارم های
    <br>
    تنظیمی
    <br>
    مقدار
    <span class="time">±10%</span>
    )
    <br>
    تنظیمی)
</td>
<td colspan="2"><span>نتیجه</span></td>
</tr>
<tr class="time">
<td>Rej</td>
<td>Ok</td>
</tr>
<tr>
<td><span>آلارم قطع منبع تغذیه</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
<tr>
<td><span>آلارم فشار پایین</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
<tr>
<td><span>آلارم فشار بالا</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
<tr>
<td><span>آلارم کمبود درصد اکسیژن</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
<tr>
<td><span>آلارم افت فشار گاز</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
<tr>
<td><span>آلارم خرابی ونتیلاتور</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>--</span></td>
</tr>
<tr>
<td><span>آلارم کمبود شارژ باطری</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
<tr>
<td><span>آلارم باز بودن مسیر تنفس</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
<tr>
<td><span>آلارم فشار پیوسته</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
<tr>
<td><span>آلارم حجم بازدمی</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td><span>.</span></td>
<td>&uuml;</td>
</tr>
</tbody>
</table>









































	<!--</div>-->
{#/////////////////////////////////////////////#}
    <br>



            {% render_field form.status class="1" %}

            {{form.totalcomment}}


        {% if edit %}
        <button type="submit" name="record_num" value="{{record_num}}" class="btn btn-primary" onclick='this.form.action="{% url 'save_edit_router' formtype='ventilator' %}";'>
        ذخیره نهایی اصلاح
        </button>
        {% elif recal %}
        <button type="submit" name="ref_record_num" value="{{ref_record_num}}" class="btn btn-primary"  onclick='this.form.action="{% url 'save_recal_router' formtype='ventilator' %}";'>
        ذخیره نهایی ریکالیبراسیون
        </button>
        {% elif edit_recal %}
        <button type="submit" name="record_num" value="{{record_num}}" class="btn btn-primary"  onclick='this.form.action="{% url 'save_recal_edit_router' formtype='ventilator' %}";'>
        ذخیره نهایی ویرایش ریکالیبراسیون
        </button>

        {% else %}{# normal save #}
        <button type="submit"  class="btn btn-primary" onclick='this.form.action="{% url 'save_router' formtype='ventilator' %}";' >
         ذخیره نهایی فرم
        </button>
        {% endif %}


        </div>


        <!--//////////////////////////////////////////////////////////-->

    </table>

</form>


{##}
{#<span id="e11">a</span>#}


</script>
          <script>

     var t=document.getElementById("txt");
           {#t.firstChild.nodeValue="humidity is normal.";#}

        {#document.write('ss');#}
    document.getElementById("eee").addEventListener("click",function () {
       var humidity=document.getElementById("id_humidity").value;

       if( humidity> 20 && humidity < 40){
           t.firstChild.nodeValue="humidity is normal.";
           t.firstChild.nodeValue+=humidity;

           {#document.write("humidity is normal. ");#}
           {#document.write(humidity);#}
       }
       else if (humidity >=40){
           t.firstChild.nodeValue="humidity is high.";
           t.firstChild.nodeValue+=humidity;

           {#document.write("humidity is high. ");#}
           {#document.write(humidity);#}

       }
       else {
           t.firstChild.nodeValue="humidity is low.";
           t.firstChild.nodeValue+=humidity;
           {#document.write("humidity is low. ");#}
           {#document.write(humidity);#}

       }
       })
</script>