{% extends 'base2.html' %}
{% load static %}

{% block content %}

<!--{% if status %}-->
<!--<div class="container-fluid alert alert-success">-->
<!--{{ status }} {{request.user.first_name}}-->
<!--</div>-->
<!--{% endif %}-->

<div class="container-fluid">
    <div class="row" style="margin-top: 10px;">
        <div class="col-2">

        </div>

        <div class="col-5">

            <div style="margin: 10px;">
            <button type="button" style="width: 150px;" class="btn btn-success">گزارشات ثبت شده</button>
              <button type="button" style="width: 150px;" class="btn btn-danger">اصلاح</button>
                <br>
              <button type="button" style="margin-top: 5px;width: 305px;" class="btn btn-secondary">افزودن دستگاه</button>
            </div>
                <!---->
            <!--<div class="btn-group" style="direction: ltr;margin: 20px 10px 10px; " role="group" aria-label="Basic example">-->
              <!---->
            <!--</div>-->
        </div>

        {% if status %}
            <div class="col-5">
                    <div style="margin:5px 10px 0px 0px;font-family: 'Yekan';" class="alert alert-success" role="alert">
                      <p>
                           {{ status}}
                      </p>
                    </div>
            </div>
        {% endif %}

    </div>



    <div class="row" >

        <div class="col-2 ">


        <div class="box" style="margin-right: 0px;">
            <form action="{% url 'router' formtype='monitor_spo2_1' %}" method="POST">
                {% csrf_token %}
                <input name="flag" value="1" hidden>
                {% if monitor_spo2_1 %}
                    <button type="submit" class="btn btn-danger box-item"> SPO <sub>2</sub></button>
                {% else %}
                    <button type="submit" class="btn btn-warning box-item"> SPO <sub>2</sub></button>
                {% endif %}
            </form>

            <form action="{% url 'router' formtype='monitor_ecg_1' %}" method="POST">
                {% csrf_token %}
                <input name="flag" value="1" hidden>
                {% if monitor_ecg_1 %}
                    <button type="button" class="btn btn-danger box-item">ECG</button>
                {% else %}
                    <button type="button" class="btn btn-warning box-item">ECG</button>
                {% endif %}
            </form>

            <form action="{% url 'router' formtype='monitor_nibp_1' %}" method="POST">
                {% csrf_token %}
                <input name="flag" value="1" hidden>
                {% if monitor_nibp_1 %}
                    <button type="button" class="btn btn-danger box-item">NIBP</button>
                {% else %}
                    <button type="button" class="btn btn-warning box-item">NIBP</button>
                {% endif %}
            </form>

            <form action="{% url 'router' formtype='monitor_safety_1' %}" method="POST">
                {% csrf_token %}
                <input name="flag" value="1" hidden>
                {% if monitor_safety_1 %}
                    <button type="button" class="btn btn-danger box-item">SAFETY</button>
                {% else %}
                    <button type="button" class="btn btn-warning box-item">SAFETY</button>
                {% endif %}
            </form>



            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">...</button>
            <button type="button" class="btn btn-primary box-item">AED</button>

        <!--<div class="box-item">-->

            <!--<a href=""> SPO <sub>2</sub></a>-->
        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">ECO <sub>3</sub></a>-->
        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">NIBP</a>-->
        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">SAFETY</a>-->
        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->
        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->

        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->

        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->
        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->

        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->

        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->

        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->

        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">...</a>-->

        <!--</div>-->

        <!--<div class="box-item">-->
            <!--<a href="">AED</a>-->
        <!--</div>-->

    <!--</div>-->
            <!---->





        </div>

        </div>
        <div class="col-10">
            <div class="form-box container-fluid">
                {% if monitor_spo2_1 %}

                {% include 'form/Monitor/Spo2/form1.html' %}

                {% elif monitor_ecg_1 %}
                    fuck you

                {% elif monitor_nibp_1 %}
                    bitch

                {% elif aed_1 %}
                    mother

                {% endif %}

            </div>

        </div>

    </div>

</div>
{% endblock %}