@font-face {
  font-family: 'iransans';

  src: url('../fonts/IRANSansWeb_UltraLight.eot') format('eot'),
       url('../fonts/IRANSansWeb_UltraLight.woff') format('woff'),
  		url('../fonts/IRANSansWeb_UltraLight.woff2') format('woff2'),
       url('../fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}
@font-face {
  font-family: 'light-iransans';

  src: url('../fonts/IRANSansWeb_Light.eot') format('eot'),
       url('../fonts/IRANSansWeb_Light.woff') format('woff'),
  		url('../fonts/IRANSansWeb_Light.woff2') format('woff2'),
       url('../fonts/IRANSansWeb_Light.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: 'iransans4';

  src: url('../fonts/IRANSansWeb.eot') format('eot'),
       url('../fonts/IRANSansWeb.woff') format('woff'),
  		url('../fonts/IRANSansWeb.woff2') format('woff2'),
       url('../fonts/IRANSansWeb.ttf') format('truetype');
  /*font-style:normal;*/
  /*font-weight:normal;*/
}


/*.data{*/
	/*direction: rtl;*/
	/*border:1px solid lightgrey;*/
	/*border-radius: 4px;*/
	/*height: auto;*/
	/*margin: 50px auto;*/
	/*padding: 20px;*/
	/*text-align: right;*/
/*}*/
body{

	/*font-size: 1.25rem;*/
}

h1{
	font-size: 2rem;
	padding: 20px
}
h2{
	font-size: 1.5rem;
}

th,td{
	/* border:1px solid; */
	padding: 5px;
	/* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); */
	border :1px solid rgba(0, 0, 0, 0.05);
	text-align: center;
	background-color: lightgrey;
	/* max-width: 400px; */
}
th{
	background-color: rgba(170, 189, 210,0.15);
}
table{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
td{
	background-color: white;
}
.ee input,select{
	width: 150px;

}


input{
	border: none;
	border: 1px solid lightgrey;
	border-radius: 5px;
	min-width: 50px;
	max-width: 85px;
	padding: 5px 2px 5px 2px; 
}

select{
	border: none;
	border:1px solid lightgrey;
	border-radius: 5px;
	padding: 2px;
	width: 100%;
	}
option{
	border-radius: 5px;

}

/* //////////////////////////////// */

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
	-webkit-appearance: none;
	margin: 0;
  }
  
  input[type=number]
  {
	-moz-appearance: textfield;
  }
  

  select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	text-align: center;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	/* background-image: url('../img/a.png'); */
	/* background-size: 1em; */
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 9px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	/* margin-right: 2rem; */
	padding: 0.5rem 0.2rem;
	padding-right: 1.2rem;
	min-width: 120px;
	/* padding-right: 2rem; */
  }