{% load static %}
{% load widget_tweaks %}



<form method="POST" class="post-form">
  <div style="text-align: center ;padding: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);background-color: white;border-radius: 10px;position: fixed;left: 40px;bottom: 50px;z-index: 100;">
  <a class="btn btn-warning" href="{% url 'admin:acc_comment_add'%}"  target="_blank" style="width: 100%;" >افزودن کامنت</a>
  <div style="height: 10px;"></div>
<button class="btn btn-info" type="submit" formaction="{% url 'reload' formtype='cant_test' %}"   formnovalidate>بارگزاری مجدد فرم</button>
</div>
    {% csrf_token %}

    <table class="table-bordered">
            
        <link rel="stylesheet" href="{% static 'css/spo2-styles.css' %}">

        <!--////////////////////////////////////////////////////////////-->
        <div class="data container-fluid">
        <div class="alert alert-warning">
                شما در حال ثبت عدم تست دستگاه هستید.
        </div>
          <h1  class="header-t" style="font-size: 20pt;font-weight: bold;font-family:light-iransans;">
         ثبت عدم تست دستگاه

    </h1>



    <div class="row" style="margin-right: 40px;">
        <div class="col-md-6 col-sm-12" style="margin-top: 10px;">
                <span style="margin-right: 30px;"> نوع دستگاه : </span>

            {% render_field form.tt style="display:inline;width:70%;" class="search-a" searchable="Search here.." %}

                <br>
                <input type="number" name="status" value="4" hidden>
          
            <span style="margin-right: 30px;"> نام دستگاه : </span>
          <span>


            {% render_field form.device style="display:inline;width:70%;" class="search-a" searchable="Search here.." %}
      
            </span>
            <br>
  <!-- / -->
  
  <span style="margin-right: 17px;"> شماره درخواست  : </span>
  <span class="ee">
      {% render_field form.request  class="search-a" style="display:inline;width:70%;"%}
    
     </span>
  <br>
  
  
  <br>
  <!-- / -->
  
  
  
    
  </div>

  <div class="col-md-6 col-sm-12">
         

    {% render_field form.status style="display:inline-block;width:100%;" %} 
<br>
    
    {% render_field form.totalcomment style="display:inline-block;width:100%;height:200px;" %}
  
  
    <input type="text" name="op_type" value="save" hidden>
        <br><br>
  <button type="submit"  class="btn btn-primary" style="float: left;" formaction="{% url 'save_router' formtype='cant_test' %}" >
      ذخیره نهایی
    </button>




</div>





  
        </div>
            
        
        
        </div>
    </table>

</form>

